.banner {
    background-image: linear-gradient(to right, #635dc0 , #3027ae);
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.homeHeading {
    text-align: center;
    font-family: 'Roboto';
}

.banner h1 {
    margin: 5vmax;
    font-size: 2.5vmax;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}
.banner p {
    font: 300 1.4vmax "Lucida Sans";
}
.banner a button {
    margin-bottom: 5vmax;cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto", "Helvetica Neue";
}
.banner a button:hover {
    background-color: rgb(255, 255, 255 , 0);
    color: rgb(255, 255, 255);
}

.banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    max-width: 100%;
    clip-path: polygon(100% 69%, 0% 100%, 100% 100%);
}

.container {
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}


.category-link-container {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 1px 2px rgba(128, 128, 128, 0.247);
}
.category-list {
    width: 80%;
    margin: auto;
}
.category-list > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    overflow: auto;
}

.category-list > ul::-webkit-scrollbar {
    display: none;
}
.category-list > ul > li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vmax;
    box-sizing: border-box;
    cursor: pointer;
}
.category-list > ul > li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: tomato;
    font: 300 1vmax "Roboto";
}
.category-list > ul > li > a > img {
    width: 4vmax;
    border-radius: 5px;
}
.category-list > ul > li > a > p {
    color: tomato;
    font: 300 1vmax "Roboto";
}

.carousel-container {
    margin-top: 2vmax;
}
 .carousel-image-container {
    width: 100%;
    height: 40vh;
}

.carousel-image-container > img {
    height: 100%;
    width: 100%;
}
/*
.background-white-padding{
    background-color: tomato;
    padding: 2vmax 1vmax;
    color: black;
    font: 400 2vmax "Roboto";
    z-index: 10;
} */


.makeStyles-prev-15 > button {
    border-radius: 0 20px 20px 0 !important;
}

.makeStyles-next-14 > button {
    border-radius: 20px 0 0 20px !important;
}


@media screen and (max-width: 800px){
    .category-list > ul > li > a > p {
        font: 300 2vmax "Roboto";
    }
}